@charset "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #1B4332; 
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    text-align: left;
    font-size: 12px;
}

.login-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.login-form button {
    width: 48%; 
    padding: 10px;
    background-color: #1B4332; 
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 5px 0; 
}

.login-form button:hover {
    background-color: #228B22;
}

.login-form p {
    margin-top: 15px;
    color: #555;
}

.login-form a {
    color: #2e7d32;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}

.login-form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #555;
}

.login-form select option {
    color: #555;
    font-size: 16px;
}

.footer-logo {
    margin-top: 20px;
}

.footer-logo img {
    opacity: 90%;
    max-width: 50%; 
    height: auto; 
}
