@charset "UTF-8";

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.login-form select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #555;
    font-size: 14px;
}

.login-form select:focus {
    outline: none;
    border-color: #1B4332;
}

.login-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-form h2 {
    margin-bottom: 20px;
    color: #1B4332; 
}

.login-form label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    text-align: left;
    font-size: 12px;
}


.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produto-box {
    width: 200px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.detalhes-produto {
    text-align: center;
}

.nome-produto {
    font-weight: bold;
}

.btn-add {
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    text-decoration: none; 
}

.btn-add:hover {
    background-color: #45a049; 

.btn-add a {
    color: white; 
    text-decoration: none; 
}

.btn-add a:hover {
    text-decoration: underline; 
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 50%;  
    margin-top: 20px;
}

.button-container button {
    width: 48%;
}

.preco-produto,
.estoque-produto,
.categoria-produto {
    margin: 10px 0;
}

.footer {
    background-color: #2d4d25;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto; 
}
