@charset "ISO-8859-1";

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background-color: #007B5C;
    color: white;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center; 
}

header .logo {
    margin-left: 20px;
}

header .logo img {
    max-width: 150px;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

header .logo img:hover {
    transform: scale(1.1);
}

header nav {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul.nav-left {
    justify-content: center;
    flex: 1;
}

header nav ul.nav-right {
    justify-content: flex-end;
    margin-right: 20px;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

header nav ul li a:hover {
    color: #2d4d25;
}

header nav ul li a.remove:hover {
    color: red;
}

.produtos {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #333;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.produto-box {
    width: calc(25% - 20px); 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin: 10px; 
    box-sizing: border-box; 
}


.detalhes-produto {
    text-align: center;
}


.nome-produto {
    font-weight: bold;
}

.preco-produto, .estoque-produto, .categoria-produto {
    margin: 10px 0;
}

.editar-btn, .eliminar-btn {
    display: inline-block;
    padding: 8px 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.editar-btn {
    background-color: #4CAF50;
    color: white;
}

.eliminar-btn {
    background-color: #f44336;
    color: white;
}

footer {
    background-color: #2d4d25;
    color: white;
    text-align: center;
    padding: 5px 0; 
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
}

footer p {
    margin: 0;
}
